<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @app.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @app.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @app.date %>
</p>

<p>
  <strong>Employment:</strong>
  <%= @app.employment %>
</p>

<p>
  <strong>Currently:</strong>
  <%= @app.currently %>
</p>

<p>
  <strong>Looking for:</strong>
  <%= @app.looking_for %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @app.experience %>
</p>

<p>
  <strong>Ideas:</strong>
  <%= @app.ideas %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @app.linkedin %>
</p>

<p>
  <strong>Heard from:</strong>
  <%= @app.heard_from %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
