<!DOCTYPE html>
<html>
<head>
  <title>RailsClass</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,100,200,300,400,500,600,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>
  <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
  
  <meta name="google-site-verification" content="OUnNS6C0PvXuRTguGh3ugLSYTSahXS5cK-aK8cZyXTg" />
  <%= csrf_meta_tags %>
</head>
<body>

<div id="home"></div>
<header>
  <a href="/">
  <span id="drawing"></span>
  <span class="logo">
    <span class="highlight">Rails</span>Class
  </span>
  </a>
  <% if !@hide_nav %>
    <nav>
      <a class="nav_link" href="/#testimonials">Testimonials</a>
      <a class="nav_link" href="/#instructor">Instructor</a>
      <a class="nav_link" href="/#price">Price</a>
    </nav>
  <% end %>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
</header>

<div class="container">
  <%= yield %>
</div>

<%= javascript_include_tag "logo" %>
<%= javascript_include_tag "scroll" %>

</body>
</html>
