<!DOCTYPE html>
<html>
<head>
  <title>RailsClass</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,100,200,300,400,500,600,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="assets/favicon.ico?v=1.2"  type="image/x-icon" >
  <%= csrf_meta_tags %>
</head>
<body>

<div id="home"></div>
<header>
  <a href="/">
  <span id="drawing"></span>
  <span class="logo">
    <span class="highlight">Rails</span>Class
  </span>
  </a>
  <nav>
    <a class="nav_link" href="/#testimonials">Testimonials</a>
    <a class="nav_link" href="/#instructor">Instructor</a>
    <a class="nav_link" href="/#price">Price</a>
  </nav>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
</header>

<div class="container">
  <%= yield %>
</div>

<%= javascript_include_tag "logo" %>
<%= javascript_include_tag "scroll" %>

</body>
</html>
